<h2>All Figures</h2>

<!-- add content here -->

<h1>All Figures</h1>
<% @figures.each do |figure| %>
  <h2>Figure Name:</h2>
  <%= figure.name %><br>
    <a href="/figures/<%= figure.id %>">
    </a>
  </li>
<% end %>
</ul>


<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
