<head>
</head>

<body>

<ul>
  <li>
    <%= @figure.name %>
    <% @figure.landmarks.each do |landmark| %>
    <%= landmark.name %>
    <% end %>
  </li>
</ul>



<a class="button" href="/figures/<%= @figure.id %>/edit">Edit Figure</a>
<a class="button" href="/figures">Figures</a>

#delete
</body>
